---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Accordion from '../components/Accordion.astro'
import Alerts from '../components/Alerts.astro'
import Avatar from '../components/Avatar.astro'
import Badge from '../components/Badge.astro'
import Banner from '../components/Banner.astro'
import BottomNavigation from '../components/BottomNavigation.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Button from '../components/Buttons.astro'
import ButtonGroup from '../components/ButtonGroup.astro'
import Carousel from '../components/Carousel.astro'
import DeviceMockups from '../components/DeviceMockups.astro'
import Drawer from '../components/Drawer.astro'
import Dropdown from '../components/Dropdowns.astro'
import Form from '../components/Forms.astro'
import Gallery from '../components/Gallery.astro'
import Indicators from '../components/Indicators.astro'
import Jumbotron from '../components/Jumbotron.astro'
import KBD from '../components/KBD.astro'
import ListGroup from '../components/ListGroup.astro'
import MegaMenu from '../components/MegaMenu.astro'
import Modal from '../components/Modal.astro'
import Pagination from '../components/Pagination.astro'
import Popover from '../components/Popover.astro'
import Progress from '../components/Progress.astro'
import Rating from '../components/Rating.astro'
import Sidebar from '../components/Sidebar.astro'
import Skeleton from '../components/Skeleton.astro'
import SpeedDial from '../components/SpeedDial.astro'
import Spinner from '../components/Spinner.astro'
import Stepper from '../components/Stepper.astro'
import Tables from '../components/Tables.astro'
import Tabs from '../components/Tabs.astro'
import Timeline from '../components/Timeline.astro'
import Toast from '../components/Toast.astro'
import Tooltips from '../components/Tooltips.astro'
import Typography from '../components/Typography.astro'
import Video from '../components/Video.astro'
---

<Layout title="Steven快速开发平台">
  <div >
    <Jumbotron />
  </div>
  <div class="pb-16">
    <Carousel />
  </div>
  <div class="pb-16 bg-slate-100"> 
    <h1 class="py-16 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    产品分类</h1>
    <Gallery />
  </div>
  <div class="pb-16 bg-white">
    <h1 class="py-16 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      合作伙伴</h1>
    <Avatar />  
  </div>
</Layout>
<style>
	
</style>
