<!-- 头像 -->
<div class="mb-16 grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
    <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/docs/images/cooper/Canva.svg">
    </div>
    <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/docs/images/cooper/Figma.svg">
    </div>
    <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/docs/images/cooper/Gitlab.svg">
    </div>
    <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/docs/images/cooper/Gumroad.svg">
    </div>
    <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/docs/images/cooper/Linear.svg">
    </div>
    <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/docs/images/cooper/Stripe.svg">
    </div>
</div>
  
