---
import SmallCard from "../components/SmallCard.astro"
---
<!--画廊-->
<div class="grid grid-cols-2 gap-10 w-2/3" style="margin:0 auto">
    <div>
        <SmallCard href="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" 
            title="快速开发平台" body="CRM快速开发平台" />
    </div>
    <div>
        <SmallCard href="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" 
            title="快速微服务开发平台" body="微服务快速开发平台" />
    </div>
    <div>
        <SmallCard href="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" 
            title="即时通信快速开发平台" body="即时通信快速开发平台" />
    </div>
    <div>
        <SmallCard href="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" 
            title="爬虫快速开发平台" body="爬虫快速开发平台" />
    </div>
</div>
